/* 
font-family: 'Lato', sans-serif; 
font-family: 'Inter', sans-serif;
*/

body {
    background-color: #F5F7F8;
}

.table {
    max-width: 700px;
    margin: 0 auto;
}

thead {
    background-color: #0075DC;
}

th {
    font-weight: 200;
    color: whitesmoke;
}

  
body {
    font-family: 'Inter', sans-serif;
}

h2 {
    color: #002D3C;
    font-family: 'Lato', sans-serif;
  }